<!doctype html>
<html>
  <head>
    <title>HYPOTHYROID</title>
  </head>
  <body>
  <form action = "{{url_for('predict')}}" method = "post">
         <table>
        <tr><td>Age</td>
        <td><input type ="text" name ="Age"></td></tr>
        <tr><td>Sex</td>
        <td><input type ="text" name ="Sex"></td></tr>
        <tr><td>on_thyroxine</td>
        <td><input type ="text" name ="on_thyroxine"></td></tr>
        <tr><td>query_on_thyroxine</td>
        <td><input type ="text" name ="query_on_thyroxine"></td></tr>
        <tr><td>on_antithyroid_medication</td>
        <td><input type ="text" name ="on_antithyroid_medication"></td></tr>
        <tr><td>thyroid_surgery</td>
        <td><input type ="text" name ="thyroid_surgery"></td></tr>
        <tr><td>query_hypothyroid</td>
        <td><input type ="text" name ="query_hypothyroid"></td></tr>
        <tr><td>query_hyperthyroid</td>
        <td><input type ="text" name ="query_hyperthyroid"></td></tr>
        <tr><td>pregnant</td>
        <td><input type ="text" name ="pregnant"></td></tr>
        <tr><td>sick</td>
        <td><input type ="text" name ="sick"></td></tr>
        <tr><td>tumor</td>
        <td><input type ="text" name ="tumor"></td></tr>
        <tr><td>lithium</td>
        <td><input type ="text" name ="lithium"></td></tr>
        <tr><td>goitre</td>
        <td><input type ="text" name ="goitre"></td></tr>
        <tr><td>TSH_measured</td>
        <td><input type ="text" name ="TSH_measured"></td></tr>
        <tr><td>TSH</td>
        <td><input type ="text" name ="TSH"></td></tr>
        <tr><td>T3_measured</td>
        <td><input type ="text" name ="T3_measured"></td></tr>
        <tr><td>T3</td>
        <td><input type ="text" name ="T3"></td></tr>
        <tr><td>TT4_measured</td>
        <td><input type ="text" name ="TT4_measured"></td></tr>
        <tr><td>TT4</td>
        <td><input type ="text" name ="TT4"></td></tr>
        <tr><td>T4U_measured</td>
        <td><input type ="text" name ="T4U_measured"></td></tr>
        <tr><td>T4U</td>
        <td><input type ="text" name ="T4U"></td></tr>
        <tr><td>FTI_measured</td>
        <td><input type ="text" name ="FTI_measured"></td></tr>
        <tr><td>FTI</td>
        <td><input type ="text" name ="FTI"></td></tr>
        <tr><td>TBG_measured</td>
        <td><input type ="text" name ="TBG_measured"></td></tr>
        <tr><td>TBG</td>
        <td><input type ="text" name ="TBG"></td></tr>
        <tr><td><input type = "submit"></td></tr>

    </table>
      </form>
  </body>
</html>